<p-toast></p-toast>
<div class="container-fluid py-4">
    <div class="row">
        <div class="card-body">
            <div class="card-body">
                <p-toolbar styleClass="mb-4 gap-2">
                    <ng-template pTemplate="left">
                        <button pButton pRipple label="Thêm nhân viên" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                    </ng-template>
                    <ng-template pTemplate="right">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"
                                (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                placeholder="Tìm kiếm..." />
                        </span>
                    </ng-template>
                </p-toolbar>
            </div>
            <div class="card-body">
                <h6 class="text-capitalize">staff</h6>
                <p-table #dt [value]="staffs" [rows]="10" [paginator]="true"
                    [globalFilterFields]="['FullName','UserName','Email','Address','createdAt','updatedAt']"
                    [rowHover]="true" dataKey="id">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="FullName">
                                Tên <p-sortIcon field="FullName"></p-sortIcon>
                            </th>
                            <th pSortableColumn="UserName">
                                UserName <p-sortIcon field="UserName"></p-sortIcon>
                            </th>
                            <th pSortableColumn="Email">
                                Email <p-sortIcon field="Email"></p-sortIcon>
                            </th>
                            <th pSortableColumn="Address">
                                Address <p-sortIcon field="Address"></p-sortIcon>
                            </th>
                            <th pSortableColumn="createdAt">
                                Ngày tạo <p-sortIcon field="createdAt"></p-sortIcon>
                            </th>
                            <th pSortableColumn="updatedAt">
                                Ngày chỉnh <p-sortIcon field="updatedAt"></p-sortIcon>
                            </th>
                            <th pSortableColumn="Delete">
                                Xóa
                            </th>
                            <th style="width: 20px;"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-service let-rowIndex="rowIndex" let-expanded="expanded">
                        <tr>
                            <td>
                                {{ service.FullName }}
                            </td>
                            <td>
                                {{ service.UserName }}
                            </td>
                            <td>
                                {{ service.Email }}
                            </td>
                            <td>
                                {{ service.Address}} 
                            </td>
                            <td>
                                {{ service.createdAt | date: "dd/MM/yyyy" }} <br>
                            </td>
                            <td>
                                {{ service.updatedAt | date: "dd/MM/yyyy"}} <br>
                            </td>
                            <td>
                                {{ service.Deleted }}
                            </td>
                            <td>
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success"
                                    (click)="editStaff(service)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="editStaff(service)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <p-dialog [(visible)]="staffDialog" [style]="{ width: '600px' }" header="Staff" [modal]="true"
            styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="p-field">
                    <label>Loại service</label>
                    <p-dropdown [options]="categories" [(ngModel)]="selectedCategory" optionLabel="name"
                        [showClear]="true" placeholder="Select a Category" (onChange)="changeCategory($event.value)"
                        dataKey="name">
                        <ng-template pTemplate="selectedItem">
                            <div class="flex align-items-center gap-2" *ngIf="selectedCategory">
                                <div>{{ selectedCategory.Name }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-category pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ category?.Name }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <br>
                    <small class="p-error" *ngIf="submitted && !selectedCategory.Name">Category is
                        required.</small>
                </div>
                <div class="p-field">
                    <label for="service_name">Tên staff</label> <br>
                    <input type="text" name="FullName" pInputText id="FullName" [(ngModel)]="staff.FullName" required autofocus />
                    <small class="p-error" *ngIf="submitted && !staff.FullName">Name is required.</small>
                </div>
                <div class="p-field">
                    <label for="price">Giá</label> <br>
                    <input type="text" pInputText name="UserName" [(ngModel)]="staff.UserName" required autofocus />
                    <br>
                    <small class="p-error" *ngIf="submitted && !staff.UserName">UserName is
                        required.</small>
                </div>
                <div class="field">
                    <label for="description">Mô tả</label> <br>
                    <input type="text" pInputText name="CCCD" [(ngModel)]="staff.CCCD" required
                        autofocus />
                    <br>
                    <small class="p-error" *ngIf="submitted && !staff.CCCD">CCCD is
                        required.</small>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveStaff()"></button>
            </ng-template>
        </p-dialog>

        <p-confirmDialog [style]="{ width: '50' }"></p-confirmDialog>
    </div>
</div>